<ion-view title="loginpage">
  <ion-content>
      <div class="list">
          <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email"  ng-model="Email">
            </label>
      <label class="item item-input item-floating-label">
        <span class="input-label" >Password</span>
        <input type="password" placeholder="Password" ng-model="Password">
      </label>
      <button class="button button-positive"  ng-click="redirect(Email,Password)">
         LOGIN
        </button>
     
    </div>
  </ion-content>
</ion-view>